@media (max-width: 640px) {
    .main__banner {
        height: 500px;
    }
    .main__list-users-review-box {
        margin: 0;
        padding: 0 !important;
    }
    .main__list-users-review-round {
        padding: 0 !important;
    }
    .col-sm-4 {
        padding: 10px;
    }
    .main__content-form-answer-pa-box-items {
        padding: 20px !important;
    }

    .main__content-form-answer {
        margin: 50px 0;
    }

    .main__banner-content {
        height: 100%;
    }

    .main__banner-quick-search {
        height: 100%;
        padding: 0 !important;
    }

    .header-mobile {
        background-color: #fff;
    }

    .main__content-form-answer-pa-box-items input:last-child {width: 100%;}

    .main__content {padding-top: 1300px;}

    .main__banner-special-link {padding-top: 160px;}

    .main__list-user-list-item {width: 100%;}
    .internal {width: 100% !important;}
}

@media screen and (max-width: 1024px){
    .header-pc {
        display: none;
    }
    .main {padding-top: 0;}
    .main__list-users-review-box {
        margin: 20px 0 0;
    }
}

@media (min-width: 1024px) {
    .header-mobile-btn {display: none;}
    .main__banner-special-link {
        margin-top: 50px;
    }

    .main__content {
        padding-top: 270px;
    }
    .main__banner-quick-search {padding: 25% 0 29%;}
}